:root {
  --accent-color-rosa: #d6a1b3;
  --bg-color-beige: #efe6dd;
  --header-color-brown: #4e342e;
  --burger-bg-color-creme: #f8f3ef;
  --text-color-darkbrown: #2b1f1b;
  --hover-color-plum: #8b3a5a;
}
