body {
  background-color: var(--bg-color-beige);
}

/*********header**********/
header {
  padding: 1rem;
  font-family: var(--font-lalezar);
}

header ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: var(--hover-color-plum);
}
.logo a {
  font-size: 30px;
  color: var(--header-color-brown);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*********main**********/
main {
  padding-inline: 1rem;
}
/*********footer**********/
footer {
  background-color: var(--footer-bg-color);
  font-family: var(--font-lalezar);
  color: var(--text-color-darkbrown);
  text-align: center;
  padding-block: 1.5rem;
  margin-bottom: none;
}

footer ul {
  list-style: none;
}

footer ul a {
  color: var(--text-color-darkbrown);
}

footer img {
  width: 100px;
  height: auto;
  place-self: center;
}

/******************************/
@media (width > 600px) {
  /*********menu**********/
  .menuItem1 {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  /******************************/
}

/********tekst*********/
h3 {
  font-size: 25px;
}
p {
  font-family: var(--font-inter);
  color: var(--text-color-darkbrown);
}
