body {
  background-color: var(--bg-color-beige);
}

/*********header**********/
header {
  padding: 1.5rem;
  font-family: var(--font-lalezar);
}

header ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: var(--hover-color-plum);
}
.logo a {
  font-size: 30px;
  color: var(--header-color-brown);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  z-index: 1000;
}

/*********main**********/
main {
  padding-inline: 1.5rem;
}
/*********footer**********/
footer {
  background-color: var(--footer-bg-color);
  font-family: var(--font-lalezar);
  color: var(--text-color-darkbrown);
  text-align: center;
  padding-block: 1.5rem;
  /* margin-bottom: none; */
}

footer ul {
  list-style: none;
}

footer ul a {
  color: var(--text-color-darkbrown);
}

footer img {
  width: 100px;
  height: auto;
  place-self: center;
}

/******************************/

/********tekst*********/
h1 {
  font-family: var(--font-lalezar);
  color: var(--text-color-darkbrown);
}
h2 {
  font-family: var(--font-lalezar);
  color: var(--text-color-darkbrown);
  letter-spacing: 0.04em;
  font-size: 24px;
}
h3 {
  font-family: var(--font-lalezar);
  color: var(--text-color-darkbrown);

  font-size: 25px;
}

h4 {
  font-family: var(--font-lalezar);
  color: var(--text-color-darkbrown);
}
p {
  font-family: var(--font-inter);
  color: var(--text-color-darkbrown);
  font-size: 14px;
}

@media (width > 600px) {
  /*********menu**********/
  .menuItem1 {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
  }

  header a {
    color: var(--accent-color-rosa);
  }

  .logo a {
    font-size: 70px;
  }

  header a:hover {
    color: var(--hover-color-plum);
    text-decoration: underline;
  }

  nav ul li {
    display: inline-block;
    position: relative;
  }
  nav ul li a {
    display: block;
    padding: 5px 25px;
    font-size: 30px;
  }

  nav ul li ul.dropdown li {
    display: block;
  }

  nav ul li ul.dropdown {
    width: 100%;
    background-color: var(--burger-bg-color-creme);
    border: 5px solid #8b3a5a;
    position: absolute;
    z-index: 999;
    display: none;
  }
  nav ul li:hover ul.dropdown {
    display: block;
  }

  .dropdown a {
    font-size: 17px;
  }

  /******************************/
  main {
    padding-inline: 2.5rem;
  }

  footer h3 {
    font-size: 40px;
  }
  footer li {
    font-size: 20px;
  }

  footer img {
    margin-top: 2rem;
    width: 200px;
  }
  /**************tekst****************/
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
