/*********forside**********/
/*hero sektion*/
/**animation 1***/

.hero-box-styling {
  width: 20%;
  display: flex;
  justify-self: center;
  position: relative;
  overflow: hidden;
  margin-top: 80%;
}

.hero-box-styling2 {
  width: 20%;
  display: flex;
  justify-self: center;
  position: relative;
  overflow: hidden;
  margin-top: 80%;
  scale: 5;
}

.rise {
  animation: rise 0.6s forwards;
}

@keyframes rise {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

/**animation 2***/
.scaleUp {
  /* kør kun én gang og bliv i slut-tilstand */
  animation: scaleUp 0.8s ease-out forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

/**animation 3***/

.moveUp {
  animation: moveUp 0.8s forwards;
  overflow: show;
}

@keyframes moveUp {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-570%);
  }
}

/**animation 4: nav***/
.navigation-box {
  border: 1px #2b1f1b;
  overflow: hidden;
}

.navRise {
  animation: navRise 0.6s forwards;
}

@keyframes navRise {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
/**animation 5: content***/
.fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}
.fadeInSlow {
  animation: fadeIn 3s ease-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*karrusel*/
.karrusel-slide img {
  height: 175px;
  width: auto;
}

.karrusel-slide {
  display: flex;
  width: max-content;
  gap: 20px;
  animation: carrusel 40s linear infinite;
}

.karrusel {
  overflow: hidden;
  margin-inline: 1.5rem;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

@keyframes carrusel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/*tekst*/
.velkomst {
  text-align: center;
  font-weight: 600;
  margin-inline: 1rem;
  margin-top: 3rem;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #4e342e;
}

/*stack cards*/
.projekter-forside {
  place-self: center;
  margin-top: 2rem;
  margin-bottom: -4rem;
}

.all-cards {
  width: 90%;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  /* padding-bottom: calc(var(--cards) * var(--cardTopPadding)); */
  padding-bottom: 2rem;
  margin-bottom: var(--cardMargin);
}

#card1 {
  /*variable*/
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

#card5 {
  --index: 5;
}

#card6 {
  --index: 6;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body,
#card3 .card-body,
#card5 .card-body {
  background-color: var(--accent-color-rosa);
}

#card1 .card-body h2,
#card1 .card-body p,
#card3 .card-body h2,
#card3 .card-body p,
#card5 .card-body h2,
#card5 .card-body p,
#card2 .card-body a,
#card4 .card-body a {
  color: var(--header-color-brown);
  text-align: center;
}

#card2 .card-body,
#card4 .card-body,
#card6 .card-body {
  background-color: var(--header-color-brown);
}

#card2 .card-body h2,
#card2 .card-body p,
#card4 .card-body h2,
#card4 .card-body p,
#card1 .card-body a,
#card3 .card-body a,
#card5 .card-body a {
  color: var(--accent-color-rosa);
  text-align: center;
}

.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 #2b1f1b;
  height: var(--cardHeight);
  place-self: center;
}

.card-body p {
  margin-block: 10px;
}

.card-link {
  padding-block: 10px;
  padding-inline: 30px;
  font-family: var(--font-inter);
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  width: fit-content;
  place-self: center;
  margin-top: 15px;
}
#card6 .card-body a {
  color: var(--accent-color-rosa);
  text-align: center;
  font-family: var(--font-inter);
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  padding-inline: 30px;
}

#card6 .card-body {
  padding-block: 20px;
}

#card1 .card-link,
#card3 .card-link,
#card5 .card-link {
  background-color: var(--header-color-brown);
}
#card2 .card-link,
#card4 .card-link {
  background-color: var(--accent-color-rosa);
}
/*****/
.karrusel,
.velkomst,
#forside h1 {
  animation: textOpacityScroll linear forwards;
  animation-timeline: view();
  animation-range: entry exit;
  position: relative;
  z-index: -1;
}
.card {
  animation: textOpacityScroll linear forwards;
  animation-timeline: view();
  animation-range: entry exit;
}

#card1 {
  animation: none;
}
/*********om mig**********/

.om-mig1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-rows: 2fr 1fr 2fr;
  margin-bottom: 2rem;
}

.om-mig1 .erfaring-link {
  grid-column: 2/3;
  grid-row: 1/2;
}
.om-mig1 .kompetence-link {
  grid-column: 2/3;
  grid-row: 3/4;
}
.om-mig1 img {
  width: 160px;
  height: auto;
  border: 7px solid #d6a1b3;
  grid-column: 1/2;
  grid-row: 1/4;
}

.om-mig1 p {
  align-self: center;
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}
.textplaceCenter {
  text-align: center;
}
.textplaceStart {
  text-align: start;
}

.om-mig1 a {
  font-weight: bold;
  color: var(--accent-color-rosa);
  text-decoration: underline;
}

.om-mig-tekst {
  margin-block: 2rem;
}
#mere-link,
#mindre-link {
  font-weight: bold;
  color: var(--accent-color-rosa);
  text-decoration: underline;
  font-family: var(--font-inter);
  font-size: 14px;
}

.om-mig-tekst p {
  margin-bottom: 20px;
}

#mere {
  margin-block: 1rem;
}

#erfaring,
#learned,
#kompetencer {
  margin-block: 2.5rem;
}

#erfaring p,
#learned p {
  margin-bottom: 10px;
}
#erfaring h2,
#learned h2,
.skills h2 {
  place-self: center;
}

/**kompetencer**/
.skills {
  max-width: 520px;
  margin: 0 auto;
  padding: 24px;
}

.top h2 {
  letter-spacing: 0.02em;
}

.bar {
  height: 12px;
  border: 2px solid #2b1f1b;
  border-radius: 999px;
  overflow: hidden;
  margin-bottom: 14px;
}

.bar-fill {
  height: 100%;
  width: 0%;
  background: var(--accent-color-rosa);
  transition: width 0.25s linear;
}

.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.nav button {
  border: none;
  background: var(--accent-color-rosa);
  width: 44px;
  height: 44px;
  border-radius: 999px;
  font-size: 25px;
  cursor: pointer;
}

.skills-card {
  /* border: 4px solid #2b1f1b; */
  background: var(--accent-color-rosa);
  border-radius: 28px;
  padding: 22px;
}

.skills-card h3 {
  margin: 0 0 12px;
  font-size: 22px;
  font-weight: 800;
}

.skills-card p {
  margin: 0 0 16px;
  line-height: 1.4;
  opacity: 0.9;
}

.stars {
  font-size: 18px;
  letter-spacing: 2px;
}

/********/
.om-mig1 img,
.om-mig-tekst p,
.om-mig-tekst h4,
#erfaring h2,
#erfaring p,
#learned h2,
#learned p {
  animation: textOpacityScroll linear forwards;
  animation-timeline: view();
  animation-range: entry exit;
  position: relative;
  z-index: -1;
}

.skills h2,
.skills div,
.om-mig-tekst a,
.om-mig1 p {
  animation: textOpacityScroll linear forwards;
  animation-timeline: view();
  animation-range: entry exit;
}

/*********tema**********/
/*********animationer på temasiderne**********/
.tema-main img {
  animation: imgScroll linear forwards;
  animation-timeline: view();
  animation-range: normal;
  position: relative;
  z-index: -1;
}

@keyframes imgScroll {
  0% {
    opacity: 0;
    scale: 0.8;
  }

  20% {
    opacity: 1;
    scale: 1;
  }

  80% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 1;
  }
}

.tema-main h2,
.tema-main p,
.tema-main h1 {
  animation: textOpacityScroll linear forwards;
  animation-timeline: view();
  animation-range: entry exit;
  position: relative;
  z-index: -1;
}

.result a,
.proces a,
.learning a {
  animation: textOpacityScroll linear forwards;
  animation-timeline: view();
  animation-range: entry exit;
}

@keyframes textOpacityScroll {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
header {
  animation: textOpacityScrollHeader linear forwards;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes textOpacityScrollHeader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*******/
.tema-main {
  text-align: start;
}

.tema-h2-1 {
  display: block;
}

.tema-h2-2 {
  display: none;
}

.tema-main h2,
.tema-main h1 {
  text-align: center;
}

.tema-main div {
  margin-block: 2rem;
}
.opgave-link {
  color: var(--accent-color-rosa);
  font-family: var(--font-inter);
  font-weight: bold;
  position: sticky;
  top: 0px;
  background: transparent;
  display: block;
  justify-self: center;
  text-align: center;
}

.tema5-link {
  color: var(--accent-color-rosa);
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: 16px;

  position: sticky;
  top: 0px;
  background: transparent;
  display: block;
  justify-self: center;
  text-align: center;
}

.tema-main .link-bg {
  position: sticky;
  top: 0px;
  transition: background-color 1s ease;
  margin-top: 0px;
  margin-bottom: 0px;
}
.link-bg.is-scrolled {
  position: sticky;
  top: 0px;
  background: transparent;
  margin-top: -35px;
  padding-top: calc(env(safe-area-inset-top) + 30px);
}

.opgave-link.is-scrolled {
  background: #f8f3ef;
  z-index: 1000;
  width: 113%;
  padding-block: 10px;
}

.proces img {
  height: 230px;
  object-fit: cover;
}

.tema5-link.is-scrolled {
  background: #f8f3ef;
  z-index: 1000;
  width: 113%;
  padding-block: 10px;
}

.has-fixed-opgave {
  padding-top: 60px;
}
/* På iPhone med notch → giver fx 20–44px - På andre enheder → 0px - Derfor vil du sikre, at der ALTID er mindst 15px */
.tema-main img {
  border: 7px solid #d6a1b3;
  margin-bottom: 10px;
}

.tema-main p {
  margin-bottom: 10px;
}

.result a,
.proces a,
.learning a {
  font-weight: bold;
  color: var(--accent-color-rosa);
  text-decoration: underline;
  font-family: var(--font-inter);
  font-size: 14px;
}

/*********desktop**********/
@media (width > 600px) {
  /*********forside**********/
  /*hero sektion*/
  .hero-box-styling {
    width: 20%;
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: 20%;
  }

  .hero-box-styling2 {
    width: 20%;
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: 20%;
    scale: 5;
  }

  @keyframes scaleUp {
    from {
      scale: 1;
    }
    to {
      scale: 5;
    }
  }

  @keyframes moveUp {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-113%);
    }
  }

  .navRise {
    animation: navRise 0.5s forwards;
  }

  @keyframes navRise {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    40% {
      opacity: 0.4;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .fadeInSlow {
    animation: fadeIn 30s ease-out forwards;
  }
  /*karrusel*/
  .karrusel {
    mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
  }
  .karrusel-slide img {
    height: 265px;
  }
  /*tekst*/
  .velkomst {
    font-size: 20px;
    width: 500px;
    place-self: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  /*sticky cards*/
  .card-body {
    padding-inline: 4rem;
  }

  .card-body p {
    font-size: 20px;
  }

  #card1 .card-body h2,
  #card1 .card-body p,
  #card1 .card-body a,
  #card2 .card-body h2,
  #card2 .card-body p,
  #card2 .card-body a,
  #card3 .card-body h2,
  #card3 .card-body p,
  #card3 .card-body a,
  #card4 .card-body h2,
  #card4 .card-body p,
  #card4 .card-body a,
  #card5 .card-body h2,
  #card5 .card-body p,
  #card5 .card-body a {
    text-align: start;
  }
  .card-body a {
    place-self: start;
    font-size: 20px;
  }

  .all-cards {
    width: 75%;
  }

  #card1 .card-link,
  #card3 .card-link,
  #card5 .card-link {
    background-color: var(--header-color-brown);
  }
  #card2 .card-link,
  #card4 .card-link {
    background-color: var(--accent-color-rosa);
  }
  .card a:hover {
    text-decoration: underline;
  }

  /*********om mig**********/
  .om-mig1 {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 20px;
    grid-template-rows: 2fr 1fr 2fr;
    place-self: center;
  }

  .om-mig1 .erfaring-link {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: start end;
  }
  .om-mig1 .kompetence-link {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .om-mig1 img {
    grid-column: 2/3;
    grid-row: 1/4;
    place-self: center;
    width: 220px;
    height: 250px;
    object-fit: cover;
  }

  .om-mig1 p {
    align-self: center;
    font-size: 20px;
  }

  .om-mig1 a {
    text-decoration: none;
    font-size: 25px;
  }
  .om-mig1 a:hover {
    color: var(--hover-color-plum);
    text-decoration: underline;
  }

  .om-mig-tekst p {
    margin-bottom: 10px;
  }

  #mere-link,
  #mindre-link {
    font-size: 20px;
  }

  #mere-link:hover,
  #mindre-link:hover {
    color: var(--hover-color-plum);
  }

  #erfaring,
  #learned,
  #kompetencer {
    margin-block: 4.5rem;
  }

  #erfaring h2,
  #learned h2,
  .skills h2 {
    place-self: start;
  }

  .erfaring-tekst {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    gap: 20px;
    width: 1100px;
  }

  .erfaring1 {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  .erfaring2 {
    grid-column: 3/6;
    grid-row: 2/3;
  }

  .erfaring3 {
    grid-column: 4/7;
    grid-row: 3/4;
  }

  #learned,
  #erfaring {
    place-self: center;
  }
  .lesson-tekst {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    gap: 20px;
    width: 1100px;
  }

  .lesson1 {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  .lesson2 {
    grid-column: 3/6;
    grid-row: 2/3;
  }

  .lesson3 {
    grid-column: 4/7;
    grid-row: 3/4;
  }

  .skills {
    display: grid;
    max-width: 1100px;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin-bottom: 4rem;
  }

  .skills .top {
    grid-column: 1/2;
    padding-right: 3rem;
  }
  .skills .skills-card {
    grid-column: 2/3;
    margin-top: 4rem;
    margin-left: 3rem;
  }

  .bar {
    height: 16px;
  }

  .nav button {
    width: 66px;
    height: 66px;
    font-size: 35px;
  }

  .skills-card h3 {
    font-size: 30px;
  }
  /*********tema**********/
  .opgave-link {
    font-size: 20px;
  }

  .opgave-link.is-scrolled {
    width: 128%;
  }

  .tema-main img {
    /* width: 400px; */
    width: 100%;
  }
  .result,
  .proces,
  .learning {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
  }

  .result h2,
  .result div,
  .learning h2,
  .learning div {
    margin-left: 2rem;
  }
  .proces h2,
  .proces div {
    margin-right: 2rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .proces img {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .result h2,
  .proces h2,
  .learning h2 {
    text-align: start;
  }
  .result div,
  .proces div,
  .learning div {
    text-align: start;
  }

  .tema-main div {
    margin-block: 1rem;
  }

  .result a,
  .proces a,
  .learning a {
    font-size: 16px;
  }

  .result-more,
  .proces-more,
  .learning-more {
    margin-top: 7rem;
  }
  .tema-h2-1 {
    display: none;
  }

  .tema-h2-2 {
    display: block;
  }
  .proces img {
    height: 400px;
    object-fit: cover;
    overflow: hidden;
  }

  .opgave-link {
    margin-bottom: 4rem;
  }
}
