/*********forside**********/

/*karrusel*/
.karrusel-slide img {
  height: 175px;
  width: auto;
}

.karrusel-slide {
  display: flex;
  width: max-content;
  gap: 20px;
  animation: carrusel 40s linear infinite;
}

.karrusel {
  overflow: hidden;
  margin-inline: 1.5rem;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

@keyframes carrusel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/*****tekst*********/
.velkomst {
  text-align: center;
  font-weight: 600;
  margin-inline: 1rem;
  margin-top: 3rem;
  margin-bottom: -1rem;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #4e342e;
}

/*****stack cards*********/
.all-cards {
  width: 90%;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  /* padding-bottom: calc(var(--cards) * var(--cardTopPadding)); */
  padding-bottom: 2rem;
  margin-bottom: var(--cardMargin);
}

#card1 {
  /*variable*/
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

#card5 {
  --index: 5;
}

#card6 {
  --index: 6;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
  text-transform: uppercase;
}

#card1 .card-body,
#card3 .card-body,
#card5 .card-body {
  background-color: var(--accent-color-rosa);
}

#card1 .card-body h2,
#card1 .card-body p,
#card3 .card-body h2,
#card3 .card-body p,
#card5 .card-body h2,
#card5 .card-body p,
#card2 .card-body a,
#card4 .card-body a {
  color: var(--header-color-brown);
  text-align: center;
}

#card2 .card-body,
#card4 .card-body,
#card6 .card-body {
  background-color: var(--header-color-brown);
}

#card2 .card-body h2,
#card2 .card-body p,
#card4 .card-body h2,
#card4 .card-body p,
#card1 .card-body a,
#card3 .card-body a,
#card5 .card-body a {
  color: var(--accent-color-rosa);
  text-align: center;
}

.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 #2b1f1b;
  height: var(--cardHeight);
  place-self: center;
}

.card-body p {
  margin-block: 10px;
}

.card-link {
  padding-block: 10px;
  padding-inline: 30px;
  font-family: var(--font-inter);
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  width: fit-content;
  place-self: center;
  margin-top: 15px;
}
#card6 .card-body a {
  color: var(--accent-color-rosa);
  text-align: center;
  font-family: var(--font-inter);
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  padding-inline: 30px;
}

#card6 .card-body {
  padding-block: 20px;
}

#card1 .card-link,
#card3 .card-link,
#card5 .card-link {
  background-color: var(--header-color-brown);
}
#card2 .card-link,
#card4 .card-link {
  background-color: var(--accent-color-rosa);
}
/*********om mig**********/

.om-mig1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-rows: 2fr 1fr 2fr;
  margin-bottom: 2rem;
}

.om-mig1 .erfaring-link {
  grid-column: 2/3;
  grid-row: 1/2;
}
.om-mig1 .kompetence-link {
  grid-column: 2/3;
  grid-row: 3/4;
}
.om-mig1 img {
  width: 160px;
  height: auto;
  border: 7px solid #d6a1b3;
  grid-column: 1/2;
  grid-row: 1/4;
}

.om-mig1 p {
  align-self: center;
  font-size: 14px;
}
.om-mig-tekst-p1 {
  text-transform: uppercase;
}
.om-mig1 a {
  font-weight: bold;
  color: var(--accent-color-rosa);
  text-decoration: underline;
}

.om-mig-tekst {
  text-align: center;
  margin-block: 2rem;
}
#mere-link {
  font-weight: bold;
  color: var(--accent-color-rosa);
  text-decoration: underline;
  font-family: var(--font-inter);
}

.om-mig-tekst p {
  margin-bottom: 20px;
}

#mere {
  margin-block: 1rem;
}

#erfaring,
#learned,
#kompetencer {
  margin-block: 2.5rem;
}

#erfaring {
  max-width: 260px;
}

#learned {
  place-self: end;
  text-align: right;
  max-width: 260px;
}

/**kompetencer**/
.skills {
  max-width: 520px;
  margin: 0 auto;
  padding: 24px;
}

.top h2 {
  letter-spacing: 0.02em;
}

.bar {
  height: 12px;
  border: 2px solid #2b1f1b;
  border-radius: 999px;
  overflow: hidden;
  margin-bottom: 14px;
}

.bar-fill {
  height: 100%;
  width: 0%;
  background: var(--accent-color-rosa);
  transition: width 0.25s linear;
}

.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.nav button {
  border: none;
  background: var(--accent-color-rosa);
  width: 44px;
  height: 44px;
  border-radius: 999px;
  font-size: 25px;
  cursor: pointer;
}

.skills-card {
  /* border: 4px solid #2b1f1b; */
  background: var(--accent-color-rosa);
  border-radius: 28px;
  padding: 22px;
}

.skills-card h3 {
  margin: 0 0 12px;
  font-size: 22px;
  font-weight: 800;
}

.skills-card p {
  margin: 0 0 16px;
  line-height: 1.4;
  opacity: 0.9;
}

.stars {
  font-size: 18px;
  letter-spacing: 2px;
}

/**husk media fjern underline normalt + dette under*/

.om-mig1 a:hover {
  color: var(--hover-color-plum);
  text-decoration: underline;
}
/********/

/*********tema**********/
.tema-main {
  text-align: center;
}

.tema-main div {
  margin-block: 2rem;
}
.opgave-link {
  color: var(--accent-color-rosa);
  font-family: var(--font-inter);
  font-weight: bold;
}

.tema-main img {
  border: 7px solid #d6a1b3;
  margin-bottom: 10px;
}

.tema-main p {
  margin-bottom: 10px;
}
/*********tema1**********/

/*********tema2**********/
/*********tema3**********/
/*********tema4**********/
/*********tema5**********/
.tema5-link {
  color: var(--accent-color-rosa);
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: 16px;
}
/*********tema6**********/
