/*********forside**********/
.velkomst {
  text-align: center;
  font-size: 14px;
  margin: 2rem 1rem;
}

/*********om mig**********/
/*********tema1**********/
/*********tema2**********/
/*********tema3**********/
/*********tema4**********/
/*********tema5**********/
/*********tema6**********/
